@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('./fonts/fira-sans-v10-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
    url('./fonts/fira-sans-v10-latin-600.woff2') format('woff2');
}

:root {
  /* Primary */
  --color-purple: #422b77;

  /* Harmonious grays */
  --color-darkest-grey: #353140;
  --color-dark-grey: #403b4d;
  --color-grey: #746d86;
  --color-light-grey: #d3d1d9;
  --color-lighter-grey: #edebf2;
  --color-lightest-grey: #fbf8ff;

  /* White tones */
  --color-white: #ffffff;

  /* Accent */
  --color-coral: #e96d77;
  --color-light-coral: #f7747f;
  --color-mint: #30e8b6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-purple);
  color: var(--color-darkest-grey);
}

a,
a:visited {
  color: var(--color-purple);
  font-weight: bold;
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 1.5;
  color: var(--color-dark-grey);
}

ul,
ol {
  padding: 0 0 0 2.5em;
}

li {
  line-height: 1.75;
}

:focus {
  outline: 3px solid var(--color-mint) !important;
}

/* Misc */

.wrapper {
  max-width: 950px;
  margin: 0 auto;
}

.center {
  margin: auto;
  text-align: center;
  padding: 1em 0;
}

.secondary {
  position: relative;
  background-color: var(--color-lightest-grey);
}

.logo {
  width: 40px;
}

/* Buttons */

.button,
.button:active,
.button:visited {
  text-decoration: none;
  text-transform: none;
  text-shadow: 0 1px 2px rgba(105, 49, 54, 0.4);
  letter-spacing: 1px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 14px 28px;
  color: var(--color-white);
  background-color: var(--color-coral);
  border-radius: 33px;
  transition: background-color 0.2s ease;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-light-coral);
}

.button.vertical-space {
  margin: 2em 0;
}

/* Header */

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1em;
}

.logo-with-name {
  width: 160px;
}

.login,
.login:active,
.login:visited {
  justify-self: end;
  color: var(--color-white);
  font-weight: normal;
  letter-spacing: 1px;
}

/* Hero */

#hero {
  display: grid;
  min-height: 58vh;
  background-color: var(--color-purple);
}

#hero h1 {
  color: var(--color-white);
  letter-spacing: 1px;
  line-height: 1.125;
}

#tagline {
  margin: 1em 0;
  padding: 0;
  font-size: 46px;
}

@media (max-width: 550px) {
  #tagline {
    font-size: 36px;
  }
}

/* Main content */

section {
  padding: 1em;
  background-color: var(--color-white);
}

.content-header {
  margin: 2em 0 1em 0;
  text-transform: uppercase;
  font-size: 1.05em;
  font-weight: bold;
  letter-spacing: 1px;
}

.cta-title {
  margin: 1em 0 0 0;
  font-size: 2em;
  line-height: 1.25;
  letter-spacing: 1px;
  color: var(--color-purple);
}

/* Content Borders */

.border-wave-subtle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-65%);
  width: 100%;
}

.border-wave-curve-right {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-80%);
  width: 100%;
}

.border-wave-subtle img,
.border-wave-curve-right img {
  width: 100%;
}

/* Footer */

#footer {
  padding: 4em 0;
  border-top: 2px solid var(--color-lighter-grey);
  color: var(--color-grey);
}

#footer .wrapper {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

#footer .columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  align-items: center;
  justify-items: center;
}

@media (max-width: 550px) {
  #footer .columns {
    grid-template-columns: 1fr;
    grid-gap: 0;
    text-align: center;
  }
}

#footer a {
  display: block;
  margin: 0.5em 0;
  padding: 0;
  font-weight: normal;
  color: var(--color-grey);
}

#footer a:visited {
  color: var(--color-grey);
}

.copyright {
  font-size: 0.8em;
}
