@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('./fonts/fira-sans-v10-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
    url('./fonts/fira-sans-v10-latin-600.woff2') format('woff2');
}

:root {
  /* Primary */
  --color-darkest-purple: #191238;
  --color-darker-purple: #2e235d;
  --color-dark-purple: #4a308d;
  --color-purple: #5e3da8;
  --color-light-purple: #8052dc;
  --color-lighter-purple: #c2aaf9;
  --color-lightest-purple: #ede6fb;

  /* Neutral */
  --color-darkest-grey: #353140;
  --color-dark-grey: #403b4d;
  --color-grey: #746d86;
  --color-light-grey: #d3d1d9;
  --color-lighter-grey: #edebf2;
  --color-lightest-grey: #fbf8ff;
  --color-white: #ffffff;

  /* Accent */
  --color-dark-coral: #dd5f6e;
  --color-coral: #e96d77;
  --color-light-coral: #fb7982;
  --color-mint: #30e8b6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-darkest-grey);
}

a,
a:visited {
  color: var(--color-purple);
  font-weight: bold;
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  color: var(--color-dark-grey);
}

ul,
ol {
  padding: 0 0 0 2.5em;
}

li {
  line-height: 1.75;
}

:focus {
  outline: 3px solid var(--color-mint) !important;
}

/* Buttons */

.button,
.button:active,
.button:visited {
  font-size: 17px;
  line-height: 1.23543;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 1px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 56px;
  border: 2px solid;
  border-radius: 33px;
  position: relative;
  z-index: 1;
  transition: background-color 0.2s ease;
}

@media (max-width: 1060px) {
  .button {
    padding: 8px 46px;
  }
}

@media (max-width: 550px) {
  .button {
    padding: 8px 36px;
  }
}

@media (max-width: 300px) {
  .button {
    padding: 8px 26px;
  }
}

.button:hover {
  cursor: pointer;
}

.button.small {
  font-size: 13px;
  line-height: 1.30775;
  padding: 8px 20px;
  border-radius: 4px;
}

.button.primary {
  background-color: var(--color-coral);
  color: var(--color-white);
  border-color: var(--color-coral);
}

.button.primary:hover {
  background-color: var(--color-light-coral);
  border-color: var(--color-light-coral);
}

.button.primary:active {
  background-color: var(--color-dark-coral);
  border-color: var(--color-dark-coral);
}

.button.secondary {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.button.secondary:hover {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-dark-grey);
}

.button.secondary:active {
  background-color: var(--color-light-grey);
  border-color: var(--color-light-grey);
}

.button.vertical-space {
  margin: 1em 0;
}

/* Header */

#header {
  padding: 16px;
  background-color: var(--color-dark-purple);
}

#header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
  max-width: 75rem;
  height: 40px;
  margin: 0 auto;
}

.logo-with-name {
  width: 140px;
  display: block;
}

.login {
  justify-self: end;
}

/* Hero */

#hero {
  /* min-height: 60vh; */
  background: linear-gradient(0deg, #dd5f6e 0%, #5e3da8 57%, #4a308d 100%);
}

.hero-wrapper {
  text-align: center;
  margin: 0 auto;
}

.tagline {
  margin: 0.5em 0;
  padding: 0;
  color: var(--color-white);
  letter-spacing: 1px;
  font-size: 54px;
  line-height: 1.05;
}

@media (max-width: 640px) {
  .tagline {
    font-size: 34px;
  }
}

.video-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  border: 1px solid var(--color-lighter-grey);
  border-radius: 16px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  position: relative;
  z-index: 1;
}

@media (max-width: 1060px) {
  .video-wrapper {
    width: 80%;
    margin-top: 3em;
  }
}

@media (max-width: 550px) {
  .video-wrapper {
    width: 100%;
    margin-top: 2em;
  }
}

.video-wrapper video {
  display: block;
  width: 100%;
  border-radius: 16px;
  margin: 0;
  padding: 0;
}

/* Main content */

.wrapper {
  max-width: 75rem;
  margin: 0 auto;
}

.content {
  padding: 1em;
  background-color: var(--color-white);
}

.content-header {
  margin: 1.5em 0 0 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.33349;
  font-weight: bold;
  letter-spacing: 1px;
}

.secondary {
  position: relative;
  background-color: var(--color-lightest-grey);
}

.overlap {
  margin-top: -6em;
}

.spacer {
  margin: 6em 0;
}

.center {
  margin: auto;
  text-align: center;
  padding: 1em 0;
}

.cta-title {
  margin: 1em 0 0 0;
  font-size: 2em;
  font-weight: normal;
  text-transform: none;
}

/* Content Borders */

.border-wave-subtle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-61%);
  width: 100%;
  z-index: 0;
}

.border-wave-curve-right {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-80%);
  width: 100%;
  z-index: 0;
}

.border-wave-subtle img,
.border-wave-curve-right img {
  width: 100%;
}

/* Footer */

#footer {
  padding: 4em 0;
  border-top: 2px solid var(--color-lighter-grey);
  color: var(--color-grey);
}

#footer .wrapper {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

#footer .logo {
  width: 40px;
}

#footer .columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  align-items: center;
  justify-items: center;
}

@media (max-width: 550px) {
  #footer .columns {
    grid-template-columns: 1fr;
    grid-gap: 0;
    text-align: center;
  }
}

#footer a {
  display: block;
  margin: 0.5em 0;
  padding: 0;
  font-weight: normal;
  color: var(--color-grey);
}

#footer a:visited {
  color: var(--color-grey);
}

.copyright {
  font-size: 0.8em;
}
