@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('./fonts/fira-sans-v10-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
    url('./fonts/fira-sans-v10-latin-700.woff2') format('woff2');
}

:root {
  /* Primary */
  --color-purple: #422b77;

  /* Harmonious grays */
  --color-darkgrey: #353140;
  --color-grey: #716d7b;
  --color-lightgrey: #f9f8f9;

  /* White tones */
  --color-dirty-white: #f8f5fd;
  --color-white: #ffffff;

  /* Accent */
  --color-coral: #e96d77;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-purple);
  color: var(--color-darkgrey);
}

a,
a:visited {
  color: var(--color-coral);
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 28px;
}

ul,
ol {
  padding: 0 0 0 2.5em;
}

li {
  line-height: 1.8;
}

:focus {
  outline: 3px solid var(--color-coral);
}

/* Misc */

.wrapper {
  max-width: 950px;
  margin: 0 auto;
}

.center {
  margin: auto;
  text-align: center;
  padding: 1em 0;
}

.secondary {
  position: relative;
  background-color: var(--color-dirty-white);
}

.logo-with-name {
  width: 160px;
}

.logo {
  width: 40px;
}

/* Buttons */

button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 14px 28px;
  border-radius: 33px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

button:hover:enabled {
  cursor: pointer;
  transform: scale(1.05);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

button.primary {
  background-color: var(--color-white);
  border: 3px solid var(--color-white);
  color: var(--color-purple);
}

button.secondary {
  background-color: var(--color-purple);
  border: 3px solid var(--color-purple);
  color: var(--color-white);
}

button.vertical-space {
  margin: 2em 0;
}

/* Header */

#header {
  padding: 1em;
}

/* Hero */

#hero {
  display: grid;
  min-height: 58vh;
  background-color: var(--color-purple);
}

#hero h1 {
  color: var(--color-white);
  font-weight: normal;
}

#tagline {
  margin: 1em 0;
  padding: 0;
  font-size: 46px;
}

@media (max-width: 550px) {
  #tagline {
    font-size: 36px;
  }
}

/* Main content */

section {
  padding: 1em;
  background-color: var(--color-white);
}

.content-header {
  margin: 2em 0 1em 0;
  text-transform: uppercase;
  font-size: 1.05em;
  font-weight: bold;
  letter-spacing: 0.025em;
}

.cta-title {
  margin: 1em 0 0 0;
  font-size: 2em;
  font-weight: normal;
  color: var(--color-coral);
}

/* Content Borders */

.border-wave-subtle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-65%);
  width: 100%;
}

.border-wave-curve-right {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-80%);
  width: 100%;
}

.border-wave-subtle img,
.border-wave-curve-right img {
  width: 100%;
}

/* Footer */

#footer {
  padding: 4em 0;
  border-top: 2px solid #f1ebff;
  color: var(--color-grey);
}

#footer .wrapper {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

#footer .columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

@media (max-width: 550px) {
  #footer .columns {
    grid-template-columns: 1fr;
    grid-gap: 0;
    text-align: center;
  }
}

#footer a {
  display: block;
  padding: 0.5em 0;
  font-weight: normal;
  color: var(--color-grey);
}

#footer a:visited {
  display: block;
  padding: 0.5em 0;
  color: var(--color-grey);
}

.copyright {
  font-size: 0.8em;
}
